.sidebar-container {
  width: 250px;
  height: 100vh;
  color: #fff;
  padding-top: 100px;
  position: fixed;
  left: 0; 
  top: 0;
  z-index: 1000;
}

.list-item {
  padding: 10px;
  border-radius: 5px;
  transition: color 0.3s ease; 
}

.list-item:hover .MuiListItemText-root {
  color: #A66FD9; 
}

.list-item.selected .MuiListItemText-root {
  color: #A66FD9; 
}
