.sidebar-container {
    width: 250px;
    
    height: 100vh;
    color: #fff;
    padding-top: 100px;
    position: fixed; /* Mantém a barra sempre fixa ao lado esquerdo */
    left: 0;          /* Alinha ao lado esquerdo da tela */
    top: 0;           /* Alinha ao topo da tela */
    z-index: 1000;    /* Certifique-se de que a barra está acima de outros elementos */
  }